<div *ngIf="filmInfo" class="container">   
    <img [src]="getImageUrl(filmInfo.backdrop_path)"
        alt="no picture" class="container__backImg">
    <div class="container__content">
        <div class="container__content-image">
            <img [src]="getImageUrl(filmInfo.poster_path)"
                alt="no picture" class="container__content-image-frontImg">
        </div>
        <div class="container__content-info">
            <div class="container__content-infoTitle"><span>{{filmInfo.title}} ({{releaseYear}})</span></div>
            <div class="container__content-infoContent">
                <pre class="filmInfo">Score: {{filmInfo.vote_average}}  </pre>               
                <pre class="filmInfo"> Popular: {{filmInfo.popularity}}  </pre>                
                <pre class="filmInfo"> Date release: {{filmInfo.release_date}}</pre>                 
            </div>                           
            <p class="description">{{filmInfo.overview}}</p>                      
        </div> 
    </div>    
</div>