<div class="app__header">
    <div class="">
        <button type="button" data-toggle="dropdown" (click)="valueClick()">
          Movies
        </button>
        <ul class="ul__items" role="menu" *ngIf="booleanValue">
          <li>
            Select Category
            <!--Here will be some function for the next steps to select categories and films-->
            <!-- <div class="item" (click)="valueClick('Select Category')"></div> -->
          </li>
          <li>
              *
            <!-- <div class="item"  (click)="valueClick('General Inquiries')"></div> -->
          </li>
          <li>
            *
          <!-- <div class="item"  (click)="valueClick('General Inquiries')"></div> -->
        </li>
        </ul>
      </div>
</div>
<!-- <div class="app__header">
    <button class="app__h2" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
</div> -->


