.movie{
    &__list{        
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-row-gap: 22px;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
        padding: 0;
        color: black;
        list-style: none;    
        margin-bottom: 30px;
        cursor: pointer;
    }
    &__img{
        box-shadow: 12px 12px 4px 1px rgba(123, 123, 128, 0.3);
        width: 220px;
        height: 330px;
        transition: transform 1s ease-out;
    }
    &__img:hover{
        transform: scale(1.1);
        box-shadow: 12px 12px 4px 1px rgba(32, 32, 197, 0.3);
    }  
}
