.movie{
    &__list{
        max-width: 80%;
        margin: 0 auto;
        padding: 0;
        color: black;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-row-gap: 22px;
        list-style: none;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__img{
        box-shadow: 12px 12px 4px 1px rgba(123, 123, 128, 0.1);
        width: 220px;
        transition: transform 1s ease-out;
    }
    &__img:hover{
        transform: scale(1.1);
    }  
}