.header {    
    background-color: grey;
    padding: 10px;
    height: 25px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;   
    display: flex;
    justify-content: space-between;
    &__routerLink {
        display: none;
    }
    &__homePage {
        font-weight: bold;
        color: white;
        margin-left: 0;
        &:hover {
            cursor: pointer;
        }
    }
} 
