<header class="header">
  <a class="header__routerLink" routerLink="movies"></a>
  <div class="header__homePage" (click)="goToHomePage()" title="Home page">
    Movies
  </div> 
  <nav class="header__nav nav">
    <ul class="nav__list">
      <ng-container *ngFor="let category of  categoriesList"> 
         <ng-container *ngTemplateOutlet="categoryItem; context: {category: category }"></ng-container>
      </ng-container>
   </ul>
   <ng-template #categoryItem let-category="category">
     <li 
           class="nav__list-item" 
           (click)="goToMovieList(category.value)" 
           [ngClass]="{'active' : bufferValue === category.value}"
         >
           {{category.title}}
         </li>
   </ng-template>
  </nav>
</header>




